*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
}
body{
    background-color: #050717;
    color: white;
}

#headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #531f79;
    font-size: 18px;
}
#headerContainer div{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
}
select{
    width: 84px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #050717;
    color: #ff59fe;
    text-align: center;
    outline: none;
    border: none;
}
select option{
    text-align: center;
}
header label{
    padding: 8px;
}
#btn-container{
    display: flex;
    justify-content: flex-end;
}
#btn-container button{
    padding: 8px;
    width: 84px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #050717;
    color: #ff59fe;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
#btn-container button:hover{
    background-color: #36143f;
    cursor: pointer;
}
#numero{
    font-size: 240px;
    text-align: center;
}
#numero:hover{
    cursor: pointer;
}
#numContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    height: 77.02vh;
    margin-right: 360px;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #531f79;
    color: white;
    font-size: 18px;
}
