* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.container{
    width: 800px;
    margin:auto;
    display: flex;
    flex-direction: row;
}
.container > div {
    text-align: center;
}
.container > div h2 {
    color: red;
}
.container > div > div {
    background-color: rgb(188, 229, 188);
    padding:15px;
    margin:5px;
    border:1px solid black;
}
.container > div > div p {
    font-weight: bold;
}
.container > div > div p:nth-of-type(2) {
    font-size:20px;
}
.candidato{
    transition: all 0.2s ease-in-out;
}
.candidato:hover{
    background-color: rgb(219, 90, 90);
    cursor: pointer;
}