*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    background-image: url(d0e0e259bf0aba4da742bedff1d4b8a5\ \(1\).gif);
    background-size: cover;
    color: white;
}
h1{
    margin-top: 72px;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    gap: 18px;
    margin: auto;
    margin-top: 36px;
    padding: 32px;
    background-color: #050717;
    border-radius: 24px;
}
label{
    text-align: left;
    font-size: 12px;
    padding: 0 8px;
}
input{
    padding: 12px;
    border-radius: 2px;
    background-color: #050717;
    border: none;
    border-bottom: 4px solid #8a2ccd;
    outline: none;
    color: white;
}
input:focus{
    background-color: #ab63ea;
}
input::placeholder{
    color: white;
}
input:focus::placeholder {
    color: white;
}
#btnCadastrar, #btnLogin{
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background-color: #8a2ccd;
    color: white;
    transition: all 0.1s ease-in-out;
    margin-top: 12px;
}
#btnCadastrar:hover, #btnLogin:hover{
    cursor: pointer;
    background-color: #994ece;
}
p{
    font-size: 11px;
    margin-top: 12px;
}
a{
    color: #8a2ccd;
    text-decoration: none;
}
a:visited{
    color: #8a2ccd;
}

@media (max-width: 768px) {
    h1{
        margin-top: 186px;}
    form {
        width: 90%;
        max-width: 300px;
        margin-top: 120px;
    }
    body{
        background-size: 380%;
        background-repeat: no-repeat;
        background-position-x: 10%;
    }
}